.homeContainer{
    display: flex;
}
.SideBarContainer {
    box-shadow: 3px 0 12px -3px rgba(44,100,144,0.08);
    min-width: 20vw;
    max-width: 300px;
}
.restantePagina{
    overflow-y: auto;
    background: linear-gradient(120deg, #e4d8fa 0%, #b5f0ff 100%);
    flex-grow: 1;              /* Occupa tutto lo spazio rimanente */
    padding: 32px;
    min-width: 0;

}

#welcomep{
    text-align: left;
    color: black
}
.HomeButtonsDiv{

    display: flex;
    max-width: 30%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}